.asidemenu{
  width: 60px;
  //height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
}
.vertical-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top-items {
  display: flex;
  flex-direction: column;
}
.menu_item{
  display: flex;
  align-items: center;
  width: 56px;
  justify-content: center;
}
.item_body{
  display: flex;
  align-items: center;
  width: 100%;
}
.placeholder-item {
  flex-grow: 1;
}
.View{
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  position: relative;
}