.mixin-after() {
  display: block;
  position: absolute;
  content: '';
}
.empty{
  padding: @No_Gap;
}
.Half_light{
  &::before {
    background: #000000;
    opacity: 0.3;
  }
  //opacity: 0.5;
}
.Main{
  height: calc(100vh);
  background: url(../images/bg.jpg) ;
  margin :@No_Gap;
  background-size:cover;
  z-index: -1;
}
.No_margin{
  margin: @No_Gap;
}
.Divide_Line{
  margin: 4px  0px 4px 0px;
}
@No_Gap: 0px 0px 0px 0px;
@transition-slow: .6s ease;
@transition-normal: .4s ease;
@transition-fast: .3s ease;
